@import '../../../scss/mixins' , '../../../scss/variables';
.buttons {
  background-color: $white;
  position: absolute;
  bottom:0;
  width:100%;
  @include flex(row, nowrap, space-between, center);
  padding: 1rem;
  @include tablet(){
    position:relative;
    padding:0;
  }

  &__back {
    @include h2();
    &:hover{
      color: $light-gray;
    }
  }
  &__confirm {
    @include light-text();
    @include button($terciary-color);
    &:hover{
      background-color: $secondary-color;
    }
  }
  &__next {
    @include light-text();
    @include button($body);
    margin-left: auto;
    &:hover{
      background-color: $secondary-color;
    }
  }
}
