@import "../../src/scss/variables", "../../src/scss/mixins" ;

.container{
    background-color:$bg-color;
    min-height:100dvh;
}
.content{
    max-width:100dvw;
    position:relative;
}

.main{
    background-color: $white;
    padding: 1.5rem 1rem;
    border-radius: .5rem;
    width:80%;
    position:absolute;
    top:130px;
    left: 50%;
    transform: translateX(-50%);
}

@include tablet(){
    .container{
        @include flex(row,nowrap, center,center);
    }

    .main{
        background-color: transparent;
        position:relative;
        transform: none;
        top:0;
        left:0;
        width:100%;

    }
    .content{
        display:grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap:3rem;
        background-color:$white;
        min-width: 37.5rem;
        min-height: 30rem;
        width: 90%;
        max-width: 49rem;
        border-radius: 0.5rem;
        padding:1rem 3rem 1rem 1rem;
    }
    app-stepbar{
        grid-row: 1 / 3; 
    }
    app-nav-buttons{
        grid-row: 2 / 3; 
        grid-column: 2 / 3;
        display: flex;
        align-items: flex-end;
        padding-bottom: 1rem;
    }
}