@import '../../../scss/mixins' , '../../../scss/variables';

.container {
    background-image: url('./../../../assets/images/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 20dvh;
    @include flex(row, nowrap , center, center);
    gap:1rem;
    @include tablet(){
        background-image: url('./../../../assets/images/bg-sidebar-desktop.svg');
        height: 100%;
        border-radius: 0.5rem;
        @include flex(column, nowrap , flex-start, flex-start);
        padding-top: 2rem;
    }

}

.stepsbar {
    @include tablet(){

    @include flex(row, nowrap , center, flex-end);
    gap:1rem;
    margin-left: 1rem;
    }

  &__div {
    @include light-text();
    border: 1.5px solid $white;
    border-radius: 50%;
    width:2rem;
    height: 2rem;
    @include flex(row, nowrap , center, center);    
}

    .active{
    background-color: $bg-step;
    color:$body;
}

    &__details{
        display: none;
        @include tablet(){
            @include flex(column, nowrap, center, flex-start);
        }
    }

    &__h2{
        @include h2();
    }
    &__h3{
        @include light-text();
    }
    
}
