@import '../../../../../scss/variables' ,'../../../../../scss/mixins';

.summary {
    margin: 1rem 0;
  &__btn-change {
    text-decoration: underline;
    color:$sub-title;
  }
  &__div {
@include flex(row, nowrap,space-between,center);
padding-top:1rem;

    &.total{
        padding: 1rem;
    }
  }
  &__h3 {
    color:$terciary-color;
  }
  &__section {
    background-color: $bg-selected;
    border-radius: .5rem;
    padding:0 1rem 1rem 1rem;
  }
}

.hr{
    border-bottom:1px solid $light-gray;
padding-bottom:1rem;
}

h5{
    font-weight: 300;
}