@import '../../../../../scss/variables' ,'../../../../../scss/mixins';
.details{
  &__error{
    color:$red;
    text-align: right;
  }
  
  &__label-container{
    @include flex(row, nowrap,space-between,center)
  }
  &__input{
    border-radius: .5rem;
    border: 1px solid $light-gray;
    padding: .5rem;
    width:100%;
    margin: .5rem 0 1rem 0;
  
  }
  &__form{
    margin: 1rem 0;
  }
}