<div class="details">
  <header>
    <div>
      <h1 role="heading" aria-level="1">Personal info</h1>
      <h2 role="heading" aria-level="2">
        Please provide your name, email address, and phone number.
      </h2>
    </div>
  </header>
  <ng-container [formGroup]="form">
    <form class="details__form" formGroupName="personalDetails">
      <!-- name input -->
      <div>
        <div class="details__label-container">
          <label for="name" id="name-label">Name</label>
          <span
            class="details__error"
            *ngIf="
              form.get('personalDetails.name')?.invalid &&
              form.get('personalDetails.name')?.touched
            "
            id="name-error"
            role="alert"
          >
            Please enter your name
          </span>
        </div>
        <input
          class="details__input"
          type="text"
          id="name"
          formControlName="name"
          placeholder="eg. Ramon Estol"
          aria-labelledby="name-label"
          aria-describedby="name-error"
        />
      </div>

      <!-- email input -->
      <div>
        <div class="details__label-container">
          <label for="email" id="email-label">Email Address</label>
          <span
            class="details__error"
            *ngIf="
              form.get('personalDetails.email')?.invalid &&
              form.get('personalDetails.email')?.touched
            "
            id="name-error"
            role="alert"
          >
            Please enter a valid email address
          </span>
        </div>
        <input
          class="details__input"
          type="text"
          name="email"
          id="email"
          placeholder="e.g. ramonestol@lorem.com"
          formControlName="email"
          required
          aria-labelledby="email-label"
          aria-describedby="email-error"
        />
      </div>

      <!-- phone number input -->
      <div>
        <div class="details__label-container">
          <label for="phone" id="phone-label">Phone Number</label>
          <span
            class="details__error"
            *ngIf="
              form.get('personalDetails.phone')?.invalid &&
              form.get('personalDetails.phone')?.touched
            "
            id="name-error"
            role="alert"
          >
            Phone number is required
          </span>
        </div>

        <input
          class="details__input"
          type="text"
          name="phone"
          id="phone"
          placeholder="e.g. 234 567890"
          formControlName="phone"
          required
          aria-labelledby="phone-label"
          aria-describedby="phone-error"
        />
      </div>
    </form>
  </ng-container>
</div>
