<div class="addons">
  <header>
    <div>
      <h1 role="heading" aria-level="1">Pick add-ons</h1>
      <h2 role="heading" aria-level="2">
        Add-ons help enhance your gaming experience.
      </h2>
    </div>
  </header>
  <ng-container [formGroup]="form">
    <form class="addons__form" formGroupName="addOnsDetails">
      <p>
        <mat-checkbox class="addons__checkbox" formControlName="service">
          <div class="addons__labels-container">
            <div>
              <h3>Online service</h3>
              <h4>Acces to multiplayer games</h4>
            </div>
            <h5>+{{ servicePrice | toPriceString : yearlyIsChecked }}</h5>
          </div>
        </mat-checkbox>
      </p>
      <p>
        <mat-checkbox class="addons__checkbox" formControlName="storage">
          <div class="addons__labels-container">
            <div>
              <h3>Larger storage</h3>
              <h4>Extra 1TB of cloud save</h4>
            </div>
            <h5>+{{ storagePrice | toPriceString : yearlyIsChecked }}</h5>
          </div>
        </mat-checkbox>
      </p>
      <p>
        <mat-checkbox class="addons__checkbox" formControlName="customization">
          <div class="addons__labels-container">
            <div>
              <h3>Customizable profile</h3>
              <h4>Custom theme on your profile</h4>
            </div>
              <h5>
                +{{ customizationPrice | toPriceString : yearlyIsChecked }}
              </h5>
          </div>
        </mat-checkbox>
      </p>
    </form>
  </ng-container>
</div>
