
<div class="addons">
    <header>
      <div class="title">
        <h1 role="heading" aria-level="1">Pick add-ons
        </h1>
        <h2 role="heading" aria-level="2">
            Add-ons help enhance your gaming experience.
        </h2>
      </div>
    </header>
<ng-container [formGroup]="form">

<form class="example-section" formGroupName="addOnsDetails">
    <p><mat-checkbox formControlName="service">
        <h3>Online service</h3>
        <h5>Acces to multiplayer games</h5>
        <h4>+{{ servicePrice | toPriceString: yearlyIsChecked}}</h4>

    </mat-checkbox></p>
    <p><mat-checkbox formControlName="storage">
        <h3>Larger storage</h3>
        <h5>Extra 1TB of cloud save</h5>
        <h4>+{{ storagePrice | toPriceString: yearlyIsChecked}}</h4>

        </mat-checkbox></p>
    <p><mat-checkbox formControlName="customization">
        <h3>Customizable profile</h3>
        <h5>Custom theme on your profile</h5>
        <h4>+{{ customizationPrice | toPriceString: yearlyIsChecked}}</h4>

        </mat-checkbox></p>
  </form>
  
    <h4>You chose:</h4>
    {{form.value | json}}
</ng-container>

