@import '../../../../../scss/mixins' , '../../../../../scss/variables' ; 
.addons{
    &__form{
        margin: 1.5rem 0;
        
            @include flex(column, nowrap, center,space-between);
            gap:1rem;
            
    }

    &__checkbox{
        @include flex(row,nowrap,space-between,center);
        padding: 1rem;
        width:100%;
        border-radius: .5rem;
        border: 1px solid $light-gray!important;
        &:hover{
            background-color: $bg-selected;
        }
        
    }
    &__labels-container{
        @include flex(row,nowrap,space-between,center);
        min-width: 230px;
        @include tablet(){
            min-width:270px;
        }
    }
    
}
.mat-mdc-checkbox-checked{
    background-color: $bg-selected;
    border-color:$body!important;
}
h5{
    color:$terciary-color;
}

