
<div class="addons">
    <header>
      <div>
        <h1 role="heading" aria-level="1">Pick add-ons
        </h1>
        <h2 role="heading" aria-level="2">
            Add-ons help enhance your gaming experience.
        </h2>
      </div>
    </header>
<ng-container [formGroup]="form">

<form class="addons__form" formGroupName="addOnsDetails">
    <p><mat-checkbox  formControlName="service">
        <h3>Online service</h3>
        <h4>Acces to multiplayer games</h4>
        <h5>+{{ servicePrice | toPriceString: yearlyIsChecked}}</h5>

    </mat-checkbox></p>
    <p><mat-checkbox formControlName="storage">
        <h3>Larger storage</h3>
        <h4>Extra 1TB of cloud save</h4>
        <h5>+{{ storagePrice | toPriceString: yearlyIsChecked}}</h5>

        </mat-checkbox></p>
    <p><mat-checkbox formControlName="customization">
        <h3>Customizable profile</h3>
        <h4>Custom theme on your profile</h4>
        <h5>+{{ customizationPrice | toPriceString: yearlyIsChecked}}</h5>

        </mat-checkbox></p>
  </form>
</ng-container>

