@use '@angular/material' as mat;

//Custom material theme

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$indigo-palette, 500);
$my-warn: mat.define-palette(mat.$red-palette);


$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 density: 0,
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($my-theme);

// Theme mixins for components I use.

@include mat.button-toggle-theme($my-theme);
@include mat.slide-toggle-theme($my-theme);
@include mat.checkbox-theme($my-theme);
