/* Colors */

$body: hsl(213, 96%, 18%);
$terciary-color: hsl(243, 100%, 62%);
$secondary-color: hsl(228, 100%, 84%);
$sub-title: hsl(231, 11%, 63%);

$bg-step: hsl(206, 94%, 87%);

$red: hsl(354, 84%, 57%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(229, 24%, 87%);

$bg-color: hsl(217, 100%, 97%);
$bg-selected: hsl(231, 100%, 99%);

/* Typography */
$primary-font: "Ubuntu", sans-serif;

// /* Angular Material */
// :root {
//   --mdc-checkbox-unselected-icon-color: hsl(229, 24%, 87%);
//   --mdc-checkbox-selected-focus-icon-color: hsl(243, 100%, 62%);
//   --mdc-checkbox-selected-icon-color: hsl(243, 100%, 62%);
//   --mdc-checkbox-selected-hover-icon-color: hsl(213, 96%, 18%);
//   --mdc-checkbox-selected-focus-state-layer-color: hsl(243, 100%, 62%);
//   --mdc-checkbox-selected-pressed-icon-color: hsl(243, 100%, 62%);
// }
